<nav class="navbar navbar-toggleable-sm sticky-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
  </button>
  <!-- Brand -->
  <a class="navbar-brand" [routerLink]="['/']"><img src="images/logo.png" alt=""/></a>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="nav navbar-nav float-md-right ">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0);">Destination <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signup']">Sign Up</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown">English</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0);">French</a>
          <a class="dropdown-item" href="javascript:void(0);">Spanish</a>
          <a class="dropdown-item" href="javascript:void(0);">Arabic</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
