<main>
  <!--banner-->
  <section class="banner">
    <div class="container-fluid">
      <navbar></navbar>
    </div>
    <div class="container">
      <div class="row justify-content-md-center align-items-center">
        <div class="col-lg-8 align-self-center">
          <div class="search-box">
            <h1>Find affordable & memoriable tours.</h1>
            <div class="form-group">
              <div class="input-group">
                <span class="left-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <input class="form-control" id="search" placeholder="Where you go next ?" type="text" #searchQuery (keyup.enter)="doSearch(searchQuery.value)">
                <div class="input-group-btn">
                  <button type="button" class="btn green-btn" (click)="doSearch(searchQuery.value)"><span><i class="fa fa-search" aria-hidden="true"></i></span>Search</button>
                </div>
              </div>
            </div>
            <p *ngIf="error" class="has-error">{{error}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--banner-->

  <!--destinations-->
  <section class="destinations">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>See our top 8 destinatons</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3" *ngFor = "let tour of topItems">
          <a [routerLink]="['/destinations', tour.destination]"><div class="destination-wrap">
            <span *ngIf="!tour.images?.length"><img src="/images/destination.png" /></span>
            <span *ngIf="tour.images?.length > 0 && tour.featuredImage?.url"><img [src]="tour.featuredImage?.url" /></span>
            <span *ngIf="tour.images?.length > 0 && !tour.featuredImage?.url"><img [src]="tour.images[0]?.url" /></span>
            <p>{{tour.destination}}</p>
          </div></a>
        </div>
      </div>
    </div>
  </section>
  <!--destinations-->

  <!--deals-->
  <section class="deals">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Our hottest deals</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor = "let tour of hotItems">
          <a [routerLink]="['/tours', tour.name]"><div class="destination-wrap">
            <span *ngIf="!tour.images?.length"><img src="/images/destination.png" /></span>
            <span *ngIf="tour.images?.length > 0 && tour.featuredImage?.url"><img [src]="tour.featuredImage?.url" /></span>
            <span *ngIf="tour.images?.length > 0 && !tour.featuredImage?.url"><img [src]="tour.images[0]?.url" /></span>
            <div class="content">
              <div class="row">
                <div class="col-8">
                  <h4>{{tour.name}}</h4>
                  <p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{tour.departure}}, {{tour.destination}}</p>
                </div>
                <div class="col-4">
                  <p>From</p>
                  <h3><span>$</span>{{tour.dateRange[0]?.price[0]?.adult}}</h3>
                </div>
              </div>
            </div>
          </div></a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn green-outline" [routerLink]="['/tours/search']">See all popular tours <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
        </div>
      </div>
    </div>
  </section>
  <!--deals-->
  <!--news-letter-->
  <section class="news-letter">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4>Subscribe our newsletter</h4>
          <p>Recieve your monthly promotions deals to save up to 25% of your travel tours </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <div class="input-group">
              <span class="left-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <input class="form-control" id="search" placeholder="Email Address" type="email" #email>
              <div class="input-group-btn">
                <button type="button" class="btn green-btn" (click)="doSubscribe(email)">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--news-letter-->
  <footer-bar></footer-bar>
</main>
