<header class="user-header useracc-header">
  <div class="container-fluid">
    <nav class="navbar navbar-toggleable-md">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt=""/></a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="user-drop">
            <span class="navbar-text">
              <ul class="pull-right">
                <li>
                  <span class="user-img"><img src="images/flag.png" alt=""/></span>
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      AUD
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item" type="button">Action</button>
                      <button class="dropdown-item" type="button">Another action</button>
                      <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span><i class="fa fa-bars" aria-hidden="true"></i></span>Menu
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item" type="button">Action</button>
                      <button class="dropdown-item" type="button">Another action</button>
                      <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                  </div>
                </li>
              </ul>
            </span>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<main class="payment">
  <div class="detail-summary">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="tour-details">
            <h4>Tour Details</h4>
            <div class="row">
              <div class="col-md-2">
                <div class="img-wrp">
                </div>
              </div>
              <div class="col-md-10">
                <h5>Japan and Taiwan 12 Days Super Easter Highlight</h5>
                <p>
                  <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Osaka, Japan &amp; Taipei, Taiwan
                  <span class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  </span>
                </p>
              </div>
            </div>
            <div class="row">
              <ul>
                <li class="col-md-4">
                  <h6>Departure</h6>
                  <p>01 December 2016</p>
                </li>
                <li class="col-md-4">
                  <h6>Return</h6>
                  <p>13 December 2016</p>
                </li>
                <li class="col-md-4">
                  <h6>Travellers</h6>
                  <p>4</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="fee-summary">
            <h4>Fees Summary</h4>
            <ul>
              <li>
                <div class="left-content">
                  <h5>Japan and Taiwan 12 Days Super Easter Hightlight</h5>
                  <p>Travellers: 4</p>
                </div>
                <div class="right-content">
                  <h5>$2,495.00</h5>
                  <p>Tax Inclusive</p>
                </div>
              </li>
              <li>
                <div class="left-content">
                  <h5>Total purchases</h5>
                  <h5>Taxes</h5>
                </div>
                <div class="right-content">
                  <h5>$8,982.00</h5>
                  <p>$998</p>
                </div>
              </li>
              <li>
                <div class="left-content">
                  <h5>Total purchases</h5>
                </div>
                <div class="right-content">
                  <h2>AU$9,980</h2>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grey-bg step-1">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <ul class="tab-list">
            <li class="active">
              <a href="javascript:void(0)">
                <span>1</span>
                <div class="tab-detail">
                  <h4>Traveller Details</h4>
                </div>
              </a>
            </li>
            <li class="disabled">
              <a href="javascript:void(0)">
                <span>2</span>
                <div class="tab-detail">
                  <h4>Payment</h4>
                </a>
              </li>
              <li class="disabled">
                <a href="javascript:void(0)">
                  <span>3</span>
                  <div class="tab-detail">
                    <h4>Confirmation</h4>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <form>
              <section class="right-wrap">
                <div class="tour-header">
                  <h3>Traveller 1<span>* Required Fields</span>
                    <span class="pull-right">
                      <a href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    </span></h3>
                  </div>
                  <div class="steps step1-form">
                    <div class="from-inner">
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="fname">First Name *</label>
                            <div class="input-wrap">
                              <input type="text" name="" class="form-control" id="fname" placeholder="First Name">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="mname">Middle Name</label>
                            <div class="input-wrap">
                              <input type="text" name="" class="form-control" id="mname" placeholder="Middle Name">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="lname">Last Name *</label>
                            <div class="input-wrap">
                              <input type="text" name="" class="form-control" id="lname" placeholder="Last Name">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="mail">Email *</label>
                            <div class="input-wrap">
                              <input type="email" class="form-control" id="mail" placeholder="Email Address"/>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="phone">Phone Number*</label>
                            <div class="input-wrap">
                              <input type="text" class="form-control" id="phone" placeholder="Phone Number"/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="country">Passport Country *</label>
                            <div class="form-group">
                              <div class="select-style">
                                <select class="select">
                                  <option>Australia</option>
                                  <option value="Value 1">Value 1</option>
                                  <option value="Value 2">Value 2</option>
                                  <option value="Value 3">Value 3</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="Passport">Passport Number *</label>
                            <div class="input-wrap">
                              <input type="text" class="form-control" id="Passport" placeholder="Passport Number"/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label for="Request">Speacial Request</label>
                            <div class="input-wrap">
                              <textarea class="form-control" id="Request" placeholder="Enter any other extra request for your booking"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tour-header">
                    <h3>Billing Address</h3>
                  </div>
                  <div class="steps step1-form no-border">
                    <div class="form-inner">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label for="address">ADDRESS LINE 1 *</label>
                            <div class="input-wrap">
                              <input class="form-control" id="address" placeholder="Address Line 1" type="text">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label for="address">ADDRESS LINE 2</label>
                            <div class="input-wrap">
                              <input class="form-control" id="address" placeholder="Address Line 2" type="text">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="SUBURB">SUBURB/TOWN *</label>
                            <div class="input-wrap">
                              <input class="form-control" id="SUBURB" placeholder="Suburb" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="state">STATE/PROVINCE *</label>
                            <div class="form-group">
                              <div class="select-style">
                                <select class="select">
                                  <option>Select State</option>
                                  <option value="Value 1">Value 1</option>
                                  <option value="Value 2">Value 2</option>
                                  <option value="Value 3">Value 3</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="postCode">POST CODE *</label>
                            <div class="input-wrap">
                              <input class="form-control" id="postCode" placeholder="Post Code" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="Country">COUNRY *</label>
                            <div class="form-group">
                              <div class="select-style">
                                <select class="select">
                                  <option value="Australia">Australia</option>
                                  <option value="London">Algeria</option>
                                  <option value="Las Vegas">Cambodia</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="right-wrap">
                  <div class="tour-header">
                    <h3>Traveller 2<span>* Required Fields</span>
                      <span class="pull-right">
                        <a href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      </span></h3>
                    </div>
                    <div class="steps step1-form">
                      <div class="from-inner">
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label for="fname">First Name *</label>
                              <div class="input-wrap">
                                <input type="text" name="" class="form-control" id="fname" placeholder="First Name">
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label for="mname">Middle Name</label>
                              <div class="input-wrap">
                                <input type="text" name="" class="form-control" id="mname" placeholder="Middle Name">
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label for="lname">Last Name *</label>
                              <div class="input-wrap">
                                <input type="text" name="" class="form-control" id="lname" placeholder="Last Name">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="mail">Email *</label>
                              <div class="input-wrap">
                                <input type="email" class="form-control" id="mail" placeholder="Email Address"/>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="phone">Phone Number*</label>
                              <div class="input-wrap">
                                <input type="text" class="form-control" id="phone" placeholder="Phone Number"/>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="country">Passport Country *</label>
                              <div class="form-group">
                                <div class="select-style">
                                  <select class="select">
                                    <option>Australia</option>
                                    <option value="Value 1">Value 1</option>
                                    <option value="Value 2">Value 2</option>
                                    <option value="Value 3">Value 3</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="Passport">Passport Number *</label>
                              <div class="input-wrap">
                                <input type="text" class="form-control" id="Passport" placeholder="Passport Number"/>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="right-wrap payment-wrap">
                    <h3>Payment Method</h3>
                    <div class="row">
                      <div class="col-12">
                        <div class="radio-wrap">
                          <input id="radio-a" class="radio-custom" name="radio-group" checked="" type="radio">
                          <label for="radio-a" class="radio-custom-label"><img src="images/paypal.png" alt=""/></label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="radio-wrap">
                          <input id="radio-b" class="radio-custom" name="radio-group" checked="" type="radio">
                          <label for="radio-b" class="radio-custom-label">Visa / Master</label>
                        </div>
                        <div class="payment-form">
                          <div class="row">
                            <div class="col-sm-9">
                              <div class="form-group">
                                <label for="fname">Name on card</label>
                                <div class="input-wrap">
                                  <input type="text" name="" class="form-control" id="fname" placeholder="Name on card">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-9">

                              <div class="form-group">
                                <label for="fname">Card Number</label>
                                <div class="input-wrap">
                                  <input type="text" name="" class="form-control" id="fname" placeholder="Credit number">
                                </div>
                              </div>
                            </div>
                            <div class="col-2">
                              <div class="side-img">
                                <img src="images/visa.png" alt=""/>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="exDate">Expiry Date</label>
                                <div class="input-wrap">
                                  <input type="text" name="" class="form-control" id="exDate" placeholder="MM/YY">
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="cvv">CVV <span></span></label>
                                <div class="input-wrap">
                                  <input type="text" name="" class="form-control" id="cvv" placeholder="CVV">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <div class="form-group signup-option">
                    <div class="row">
                      <div class="col-sm-8">
                        <p>By clicking the 'Next' button below, you have read and agreed width our <a href="javascript:void(0)"> Terms & Conditions</a> and <a href="javascript:void(0)"> Privacy Policy</a>for us to process your tour booking.</p>
                      </div>
                      <div class="col-sm-4">
                        <button type="button" class="btn green-btn" [routerLink]="['/booking/step2']">Next<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
