body,
html
{
	margin: 0;
	padding: 0;
	height: 100%;
}

@import 'modules/color';

@import 'modules/align';

@import 'modules/font';

@import 'modules/mixins';

@import 'modules/size';

@import 'modules/reset';

@import 'partials/login';

@import 'partials/signup';

@import 'partials/forgot';

@import 'partials/resetPass';

@import 'partials/userHeader';

@import 'partials/profile';

@import 'partials/index';

@import 'partials/footer';

@import 'partials/search';

@import 'partials/header';

@import 'partials/overview';

@import 'partials/destinations';

@import 'partials/payment';

@import 'partials/confirmation';

@import 'partials/Supplier/Tour/step1';

@import 'partials/bookings-list';

@import 'partials/booking-view-1';

@import 'partials/booking-view-2';
